/* login base-card */
.login-base {
    background-color: #f7f7f7;
    padding: 30px;
    border: 1px solid #dddddd;
}
/* akhir login base-card */

/* background */
body {
    background-image: url(/img/login-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
/* akhir background */

/* micro clearfix */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }

 .cf:after {
     clear: both;
 }

 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }
/* akhir micro clearfix */

/* google login style */
.inputBox {
    position: relative;
}

.inputBox label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 0.430rem 0;
    font-size: 1rem;
    color: grey;
    pointer-events: none;
    transition: .3s;
}

.inputBox input {
    width: 93%;
    padding: 0.625rem 10px;
    font-size: 1rem;
    letter-spacing: 0.0625rem;
    margin-bottom: 1.875rem;
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 4px;
}

.inputBox input:focus {
    background-color: #f7f7f7;
}

.inputBox input:focus ~ label,
.inputBox input:not([value=""]) ~ label {
    top: -0.725rem;
    left: 10px;
    font-size: 0.75rem;
    background-color: #f7f7f7;
    padding: 0 5px;
}

/* akhir google login style */
