:root {
    --body-background-color:#fff;
    --navbar-background-color:#f8f9fa!important;
    --background-hover-color: #dae0e5!important;
    --brand-color: rgba(0,0,0,.9);
    --brand-hover-color:   rgba(0,0,0,.9);
    --navbar-link-color: rgba(0,0,0,.5);
    --navbar-link-hover-color: rgba(0,0,0,.7);
    --navbar-link-toggler-color: rgba(0,0,0,.5);
    --navbar-link-toggler-border-color: rgba(0,0,0,.1);
    --navbar-link-toggler-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

[data-theme="dark"] {
    --body-background-color:#252525;
    --navbar-background-color:#343a40!important;
    --background-hover-color: #1d2124!important;
    --brand-color: #fff;
    --brand-hover-color:   #fff;
    --navbar-link-color: rgba(255,255,255,.5);
    --navbar-link-hover-color: rgba(255,255,255,.75);
    --navbar-link-toggler-color: rgba(255,255,255,.5);
    --navbar-link-toggler-border-color: rgba(255,255,255,.1);
    --navbar-link-toggler-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* override .bg-light css */
.bg-light{
    background-color:var(--navbar-background-color)!important
}
a.bg-light:focus,
a.bg-light:hover,
button.bg-light:focus,
button.bg-light:hover{
    background-color:var(--background-hover-color)!important
}
/* akhir override .bg-light css */

/* override .navbar-light css */
.navbar-light .navbar-brand{
    color:var(--brand-color)
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color:var(--brand-hover-color)
}
.navbar-light .navbar-nav .nav-link{
    color:var(--navbar-link-color)
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color:var(--navbar-link-hover-color)
}
.navbar-light .navbar-toggler{
    color:var( --navbar-link-toggler-color);
    border-color:var(--navbar-link-toggler-border-color)
}
.navbar-light .navbar-toggler-icon{
    background-image:var( --navbar-link-toggler-image)
}
/* akhir override .navbar-light css */

/* override .card css */
.card {
    background-color: var(--navbar-background-color);
}
/* akhir override .card css */

/* body */
body {
    background-color: var(--body-background-color);
    color: var(--brand-color);
    margin-top: 56px;
    padding: 20px;
}
/* akhir menggeser body agar tidak tertutup navbar */

/* dark mode toggler css */
.theme-switch-wrapper {
    display: block;
    position: fixed;
    bottom: 0px;
    right: 15px;
}

.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.theme-switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 40px;
    left: 30px;
}
  
.theme-switch input {
    display:none;
}
  
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: #fff;
    bottom: 2.57px;
    content: "";
    height: 15px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 15px;
}

input:checked + .slider {
    background-color: #5c5c5c;
}
  
input:checked + .slider:before {
    transform: translateX(17px);
}

.slider.round {
    border-radius: 15px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark-img {
    display: block;
    width: 100px;
    height: 200px;
    background-image: url('../img/nightmode.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}
/* akhir dark mode toggler css */

/* .menu css */
.menu {
    border-radius: 3px;
    background-color: rgba(201,201,201,.2);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: block;
    position: absolute;
    width: 20px;
    height: 30px;
    top: 8px;
    right: 8px;
}

.menu:after {
    content: "\2807";
    color: rgba(255,255,255,.5);
    font-size: 1.3rem;
    line-height: 30px;
    position: absolute;
    left: 5px;
}

.menu:hover {
    background-color: rgba(201,201,201,.5);
}
/* akhir .menu css */

/* css for handling image in .card */
.img-wrapper {
    display: block;
    width: 100%;
    height: 260px;
}
.img {
    display: grid;
    height: 250px;
    width: 100%;
    overflow: hidden;
    justify-items: center;
    vertical-align: center;
}
/* akhir css for handling image in .card */

/* css for carousel image size */

/* akhircss for carousel image size */